@import 'nav.css';
@import 'fish.css';
@import 'tip.css';


body {
  background-color: goldenrod;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

.fishies {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 68%;
  justify-content: space-evenly;
}

.fishies__card {
  flex-basis: 28%;
  width: 28%;
  border: 2px dotted gray;
  padding: 0 8px;
  margin: 0 4px;
  margin-bottom: 8px;
}

aside{
  flex-basis: 30%;
  border: 1px solid red;
  padding: 0 5px;
}

@media (max-width: 600px) {
  .fishies {
     flex-basis: 100%;
  }

  aside {
     flex-basis: 100%;
  }
}

h1 {
  border-radius: 15px;
  background-color: aqua;
  width: 15%;
}
